$color-01: #eee
$color-02: #333
$color-03: #666
$color-04: #999
$color-05: #f93
$color-06: #ccc
$color-07: #484848
$color-08: #fff
$color-09: #e3e9f9
$color-10: #fcfcfc
$color-11: #f2fff5

// Layout
$html-bg-color: $color-09
$page-shadow-color: $color-03
$page-bg-color: $color-08

// Menu
$menu-bg-color: $color-07
$menu-font-color: $color-08

// Page Header
$header-font-color: $color-04

// Page Aside
$aside-bg-color: $color-10
$aside-head-bg-color: $color-03
$aside-head-font-color: $color-08
$aside-head-border-color: $color-05
$aside-dl-font-color: $color-05
$aside-dd-font-color: $color-03
$aside-shadow-color: $color-01
$aside-link-hover-bg-color: $color-06

// Page Content
$main-content-header-font-color: $color-05
$main-content-font-color: $color-02

// Location
$location-map-border-color: $color-04

// Session
$session-table-border-top-color: $color-05
$session-table-border-color: $color-06
$session-table-break-color: $color-05
$session-table-time-bg-color: $color-11

// Staffs
$staff-separator: $color-06