$color1: #c8d9a3
$color2: #5d736f
$color3: #dff2f0
$color4: #88babf
$color5: #5397a6
$pageColor: #fff

$htmlBgColor: #E3E9F9

$mainShadow: #666
$mainColor: #484848
$mainRevseColor: #fff

// Aside
$asideBgColor: #fcfcfc
$asideFontColor: #666
$asideHeadBgColor: #666
$asideHeadFontColor: #fff

$asideDlFontColor: #f93

// Content
