a.register
    +fancy-button(#567890, 45px)

section.announcement
    margin-bottom: 10px
    padding: 5px 5px 20px 5px

    header>h1
        font-weight: bold
        +shadow-font(#333, #999)

    .content
        border-radius: 5px
        font-size: 1.2em
        color: #666
        padding: 20px
        background: #eee
        box-shadow: inset 0 0 5px #ccc

