$fixedWidth: 960px
$mainContentWidth: 660px
$asideWidth: 300px
$mainShadow: #666
$highlightBgColor: #449105
$highlightFontColor: #fff

@mixin main-shadow($color: $mainShadow)
    box-shadow: 0 0 10px 0 $color

html, body
    background: #efefdc

#container
    @import "page/header"
    @import "page/body"
    @import "page/footer"

    position: relative
    margin: 0 auto
    width: 100%
