#sessions

    table
        font-size: 15px
        border: 1px solid #000
        width: 100%
        table-layout: fixed
        box-shadow: 0px 0px 5px #ccc

        td,th
            border: 1px solid #999
            padding: 5px
            text-align: center

        th
            background: #666
            color: #eee
            font-size: 20px

        tr.break
            background: #933

            td
                color: #fff
                text-align: center

        th.time
            width: 80px
            border-right: 3px solid #999

        td
            padding: 5px

            &.time
                background: #F2FFF5
                border-right: 3px solid #999

            span
                display: block

                &.subject
                    font-size: 18px
                    font-weight: bold
                    color: #000
                    line-height: 30px
                    padding: 5px 0
                    text-align: left

                &.talker
                    font-size: 16px
                    color: #666
                    text-align: left
                    padding: 5px 0

            div.brief
                padding-left: 20px
                text-align: left
