@import "compass/css3/gradient"
@import "fancy-buttons"
@import "html5"
@import "layout"
@import "announcements"
@import "sessions"

a.register
  @include fancy-button(#123456, 40px, 10px)

nav a
  color: #FFF
  text-decoration: none
  &:hover
    color: #CCC
  &:visited
    color: #FFF
