/* incase an inverted custom gradient isn't specified */
/* line 177, ../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-1.1.2/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class {
  font-family: "Lucida Grande", Lucida, Arial, sans-serif;
  background: url('/public/img/button_bg.png') repeat-x bottom left;
  margin: 0;
  width: auto;
  overflow: visible;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border-style: solid;
  font-weight: bold;
}
/* line 165, ../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-1.1.2/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class::-moz-focus-inner {
  border: none;
  padding: 0;
}
/* line 168, ../../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-1.1.2/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class:focus {
  outline: none;
}

/* line 2, ../../sass/common/_html5.sass */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 4, ../../sass/common/_html5.sass */
audio[controls], canvas, video {
  display: inline-block;
}

/* line 6, ../../sass/common/_html5.sass */
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 13, ../../sass/common/_html5.sass */
body {
  margin: 0;
  font-size: 13px;
  line-height: 1.231;
  font-family: sans-serif;
  color: #222222;
}

/* line 19, ../../sass/common/_html5.sass */
button, input, select, textarea {
  font-family: sans-serif;
  color: #222222;
}

/* line 23, ../../sass/common/_html5.sass */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 26, ../../sass/common/_html5.sass */
b, strong {
  font-weight: bold;
}

/* line 29, ../../sass/common/_html5.sass */
blockquote {
  margin: 1em 20px;
}

/* line 32, ../../sass/common/_html5.sass */
dfn {
  font-style: italic;
}

/* line 35, ../../sass/common/_html5.sass */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

/* line 43, ../../sass/common/_html5.sass */
ins {
  background: #ffff99;
  color: black;
  text-decoration: none;
}

/* line 48, ../../sass/common/_html5.sass */
mark {
  background: yellow;
  color: black;
  font-style: italic;
  font-weight: bold;
}

/* line 54, ../../sass/common/_html5.sass */
pre, code, kbd, samp {
  font-family: monospace, monospace;
  _font-family: "courier new", monospace;
  font-size: 1em;
}

/* line 59, ../../sass/common/_html5.sass */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 64, ../../sass/common/_html5.sass */
q {
  quotes: none;
}
/* line 66, ../../sass/common/_html5.sass */
q:before, q:after {
  content: "";
  content: none;
}

/* line 70, ../../sass/common/_html5.sass */
small {
  font-size: 85%;
}

/* line 73, ../../sass/common/_html5.sass */
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 79, ../../sass/common/_html5.sass */
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

/* line 86, ../../sass/common/_html5.sass */
sub {
  bottom: -0.25em;
}

/* line 89, ../../sass/common/_html5.sass */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 20px;
}

/* line 93, ../../sass/common/_html5.sass */
dd {
  margin: 0 0 0 20px;
}

/* line 97, ../../sass/common/_html5.sass */
nav ul, nav ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 102, ../../sass/common/_html5.sass */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* line 106, ../../sass/common/_html5.sass */
svg:not(:root) {
  overflow: hidden;
}

/* line 109, ../../sass/common/_html5.sass */
figure, form {
  margin: 0;
}

/* line 112, ../../sass/common/_html5.sass */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 117, ../../sass/common/_html5.sass */
legend {
  border: 0;
  padding: 0;
}

/* line 121, ../../sass/common/_html5.sass */
label {
  cursor: pointer;
}

/* line 124, ../../sass/common/_html5.sass */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

/* line 129, ../../sass/common/_html5.sass */
button, input {
  line-height: normal;
}

/* line 132, ../../sass/common/_html5.sass */
button {
  cursor: pointer;
  -webkit-appearance: button;
}

/* line 138, ../../sass/common/_html5.sass */
input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
/* line 142, ../../sass/common/_html5.sass */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
}
/* line 145, ../../sass/common/_html5.sass */
input[type="search"] {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 150, ../../sass/common/_html5.sass */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 154, ../../sass/common/_html5.sass */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 160, ../../sass/common/_html5.sass */
input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

/* line 163, ../../sass/common/_html5.sass */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 167, ../../sass/common/_html5.sass */
.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}
/* line 175, ../../sass/common/_html5.sass */
.ir br {
  display: none;
}

/* line 178, ../../sass/common/_html5.sass */
.hidden {
  display: none;
  visibility: hidden;
}

/* line 182, ../../sass/common/_html5.sass */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* line 193, ../../sass/common/_html5.sass */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 201, ../../sass/common/_html5.sass */
.invisible {
  visibility: hidden;
}

/* line 204, ../../sass/common/_html5.sass */
.clearfix {
  zoom: 1;
}
/* line 207, ../../sass/common/_html5.sass */
.clearfix:before {
  content: "";
  display: table;
}
/* line 211, ../../sass/common/_html5.sass */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

@media print {
  /* line 220, ../../sass/common/_html5.sass */
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* line 227, ../../sass/common/_html5.sass */
  a {
    color: #444444 !important;
    text-decoration: underline;
  }
  /* line 231, ../../sass/common/_html5.sass */
  a:visited {
    color: #444444 !important;
    text-decoration: underline;
  }
  /* line 235, ../../sass/common/_html5.sass */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 240, ../../sass/common/_html5.sass */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 243, ../../sass/common/_html5.sass */
  .ir a:after {
    content: "";
  }

  /* line 247, ../../sass/common/_html5.sass */
  a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* line 250, ../../sass/common/_html5.sass */
  pre, blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid;
  }

  /* line 254, ../../sass/common/_html5.sass */
  thead {
    display: table-header-group;
  }

  /* line 257, ../../sass/common/_html5.sass */
  tr {
    page-break-inside: avoid;
  }

  /* line 260, ../../sass/common/_html5.sass */
  img {
    page-break-inside: avoid;
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 267, ../../sass/common/_html5.sass */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 271, ../../sass/common/_html5.sass */
  h2, h3 {
    page-break-after: avoid;
  }
}
/* line 1, ../../sass/admin/_layout.sass */
#container {
  margin: 0 auto;
  width: 900px;
  background: white;
}

/* line 6, ../../sass/admin/_layout.sass */
header {
  background: white;
  padding: 20px;
}
/* line 9, ../../sass/admin/_layout.sass */
header h1 {
  margin: 0;
}

/* line 12, ../../sass/admin/_layout.sass */
nav {
  float: left;
  width: 900px;
  background: #333333;
}
/* line 16, ../../sass/admin/_layout.sass */
nav ul {
  margin: 0;
  padding: 0;
}
/* line 19, ../../sass/admin/_layout.sass */
nav ul li {
  list-style-type: none;
  display: inline;
}
/* line 22, ../../sass/admin/_layout.sass */
nav li a {
  display: block;
  float: left;
  padding: 5px 10px;
  color: white;
  text-decoration: none;
  border-right: 1px solid white;
}
/* line 29, ../../sass/admin/_layout.sass */
nav li a:hover {
  background: #338833;
}

/* line 32, ../../sass/admin/_layout.sass */
#main {
  clear: both;
  width: 900px;
}
/* line 35, ../../sass/admin/_layout.sass */
#main h2 {
  margin: 0;
}

/* line 38, ../../sass/admin/_layout.sass */
footer.page {
  clear: both;
  background: white;
  text-align: right;
  padding: 20px;
  height: 1%;
  border-top: 1px solid #cccccc;
}

/* line 1, ../../sass/admin/_table.sass */
table {
  border: 1px solid black;
  width: 100%;
}

/* line 5, ../../sass/admin/_table.sass */
td, th {
  border: 1px solid black;
}

/* line 8, ../../sass/admin/_table.sass */
td {
  padding: 5px;
}

/* line 7, ../../sass/admin.sass */
nav a {
  color: white;
  text-decoration: none;
}
/* line 10, ../../sass/admin.sass */
nav a:hover {
  color: #cccccc;
}
/* line 12, ../../sass/admin.sass */
nav a:visited {
  color: white;
}
