/* line 1, ../../sass/mobile/_iphone.sass */
body {
  margin: 0;
  font-family: Helvetica;
  background: white;
  color: black;
  overflow: hidden;
  -webkit-text-size-adjust: none;
}
/* line 9, ../../sass/mobile/_iphone.sass */
body > h1 {
  box-sizing: border-box;
  margin: 0;
  padding: 10px;
  line-height: 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0;
  text-overflow: ellipsis;
  color: white;
  background: url(../img/mobile/toolbar.png) #6d84a2 repeat-x;
  border-bottom: 1px solid #2d3642;
}

/* line 23, ../../sass/mobile/_iphone.sass */
.button {
  position: absolute;
  top: 8px;
  right: 6px;
  -webkit-border-image: url(../img/mobile/button.png) 0 5 0 5;
  -webkit-border-radius: 0;
  border-width: 0 5px 0 5px;
  padding: 0;
  height: 28px;
  line-height: 28px;
  font-size: 12px;
  font-weight: bold;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0;
  text-decoration: none;
  background: none;
}

/* line 40, ../../sass/mobile/_iphone.sass */
#homeButton {
  display: none;
  left: 6px;
  right: auto;
  -webkit-border-image: url(../img/mobile/back_button.png) 0 8 0 14;
  border-width: 0 8px 0 14px;
}

/* line 47, ../../sass/mobile/_iphone.sass */
.goButton {
  -webkit-border-image: url(../img/mobile/go_button.png) 0 5 0 5;
  border-width: 0 5px;
}

/* line 53, ../../sass/mobile/_iphone.sass */
body > div, body > form, body > ul {
  display: none;
  position: absolute;
  left: 0;
  top: 41px;
  width: 100%;
  min-height: 418px;
  margin: 0;
  padding: 0;
}
/* line 63, ../../sass/mobile/_iphone.sass */
body *[selected="true"] {
  display: block;
}
/* line 66, ../../sass/mobile/_iphone.sass */
body ul > li {
  margin: 0;
  border-bottom: 1px solid #e0e0e0;
  padding: 0;
  background: url(../img/mobile/arrow.png) no-repeat right center;
  font-size: 20px;
  font-weight: bold;
  list-style: none;
}
/* line 75, ../../sass/mobile/_iphone.sass */
body ul > li > a {
  display: block;
  padding: 8px 32px 8px 8px;
  text-decoration: none;
  color: inherit;
}

/* line 81, ../../sass/mobile/_iphone.sass */
.panel {
  box-sizing: border-box;
  padding: 10px;
  background: #c8c8c8 url(../img/mobile/pinstripes.png);
}

/* line 86, ../../sass/mobile/_iphone.sass */
.dialog {
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 468px;
  z-index: 2;
  background: rgba(0, 0, 0, 0.8);
  padding: 0;
  text-align: right;
}

/* line 96, ../../sass/mobile/_iphone.sass */
fieldset {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  border: none;
  padding: 10px 6px;
  background: url(../img/mobile/toolbar.png) #7388a5 repeat-x;
}
/* line 104, ../../sass/mobile/_iphone.sass */
fieldset > h1 {
  margin: 0 10px 0 10px;
  padding: 0;
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0;
  text-align: center;
}

/* line 113, ../../sass/mobile/_iphone.sass */
label {
  position: absolute;
  margin: 14px 0 0 6px;
  font-size: 14px;
  color: #bbbbbb;
}

/* line 119, ../../sass/mobile/_iphone.sass */
input {
  box-sizing: border-box;
  width: 100%;
  margin: 6px 0 0 0;
  padding: 6px 6px 6px 44px;
  font-size: 16px;
  font-weight: normal;
}
