/* line 1, ../../sass/common/_font.sass */
h1 {
  font: 1.6em/2em bold;
}

/* line 4, ../../sass/common/_font.sass */
p {
  font: 1.2em/2em normal;
  padding: 4px 0;
}
/* line 8, ../../sass/common/_font.sass */
p > a {
  font: 1em/2em normal;
}

/* line 11, ../../sass/common/_font.sass */
a {
  text-decoration: none;
}

/* line 14, ../../sass/common/_font.sass */
dl {
  font: 1.2em/2em bold;
}

/* line 17, ../../sass/common/_font.sass */
dd {
  font: 1em/1.5em normal;
}
/* line 20, ../../sass/common/_font.sass */
dd > a {
  font: 1em/1.5em normal;
}

/* line 1, ../../sass/common/_reset.sass */
html {
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  margin: 0;
  padding: 0;
}

/* line 10, ../../sass/common/_reset.sass */
body {
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  margin: 0;
  padding: 0;
}
/* line 18, ../../sass/common/_reset.sass */
body div {
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  margin: 0;
  padding: 0;
}

/* line 27, ../../sass/common/_reset.sass */
span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  margin: 0;
  padding: 0;
}

/* line 36, ../../sass/common/_reset.sass */
article, aside, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 39, ../../sass/common/_reset.sass */
img, object, embed {
  max-width: 100%;
}

/* line 42, ../../sass/common/_reset.sass */
html {
  overflow-y: scroll;
}

/* line 45, ../../sass/common/_reset.sass */
ul {
  list-style: none;
}

/* line 48, ../../sass/common/_reset.sass */
blockquote, q {
  quotes: none;
}

/* line 52, ../../sass/common/_reset.sass */
blockquote:before, blockquote:after {
  content: none;
}

/* line 56, ../../sass/common/_reset.sass */
q:before, q:after {
  content: none;
}

/* line 59, ../../sass/common/_reset.sass */
a {
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: #0033ff;
  margin: 0;
  padding: 0;
}

/* line 67, ../../sass/common/_reset.sass */
del {
  text-decoration: line-through;
}

/* line 70, ../../sass/common/_reset.sass */
abbr[title], dfn[title] {
  border-bottom: 1px dotted black;
  cursor: help;
}

/* line 74, ../../sass/common/_reset.sass */
table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: inherit;
  font: 100%;
}

/* line 80, ../../sass/common/_reset.sass */
th {
  font-weight: 700;
  vertical-align: bottom;
}

/* line 84, ../../sass/common/_reset.sass */
td {
  font-weight: 400;
  vertical-align: top;
}

/* line 88, ../../sass/common/_reset.sass */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

/* line 96, ../../sass/common/_reset.sass */
input, select {
  vertical-align: middle;
}

/* line 99, ../../sass/common/_reset.sass */
pre {
  white-space: pre-line;
  word-wrap: break-word;
}

/* line 103, ../../sass/common/_reset.sass */
input[type="checkbox"] {
  vertical-align: baseline;
}

/* line 106, ../../sass/common/_reset.sass */
select, input, textarea {
  font: 99% sans-serif;
}

/* line 110, ../../sass/common/_reset.sass */
a:hover, a:active {
  outline: none;
}

/* line 113, ../../sass/common/_reset.sass */
small {
  font-size: 85%;
}

/* line 116, ../../sass/common/_reset.sass */
strong, th {
  font-weight: 700;
}

/* line 119, ../../sass/common/_reset.sass */
td {
  vertical-align: top;
}
/* line 121, ../../sass/common/_reset.sass */
td img {
  vertical-align: top;
}

/* line 124, ../../sass/common/_reset.sass */
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

/* line 129, ../../sass/common/_reset.sass */
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  top: -0.5em;
}

/* line 135, ../../sass/common/_reset.sass */
sub {
  bottom: -0.25em;
}

/* line 138, ../../sass/common/_reset.sass */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/* line 141, ../../sass/common/_reset.sass */
.clickable, label {
  cursor: pointer;
}

/* line 145, ../../sass/common/_reset.sass */
input[type=button], input[type=submit] {
  cursor: pointer;
}

/* line 148, ../../sass/common/_reset.sass */
button {
  cursor: pointer;
  margin: 0;
}

/* line 152, ../../sass/common/_reset.sass */
input, select, textarea {
  margin: 0;
}

/* line 155, ../../sass/common/_reset.sass */
button {
  width: auto;
  overflow: visible;
}

/* line 159, ../../sass/common/_reset.sass */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* line 162, ../../sass/common/_reset.sass */
.ie6 html {
  filter: expression(document.execCommand("BackgroundImageCache", false, true));
}

/* line 165, ../../sass/common/_reset.sass */
.clearfix {
  zoom: 1;
}
/* line 166, ../../sass/common/_reset.sass */
.clearfix:before {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
/* line 171, ../../sass/common/_reset.sass */
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}

/* line 179, ../../sass/common/_reset.sass */
body {
  font: 13px Helmet, Freesans, sans-serif;
  color: #333333;
}

/* line 183, ../../sass/common/_reset.sass */
select, input, textarea {
  color: #333333;
}

/* line 187, ../../sass/common/_reset.sass */
a:hover {
  color: #6699ff;
}
/* line 189, ../../sass/common/_reset.sass */
a:link {
  -webkit-tap-highlight-color: #fcd700;
}

/* line 192, ../../sass/common/_reset.sass */
ins {
  background-color: #fcd700;
  color: black;
  text-decoration: none;
}

/* line 197, ../../sass/common/_reset.sass */
mark {
  background-color: #fcd700;
  color: black;
  font-style: italic;
  font-weight: 700;
}

/* line 203, ../../sass/common/_reset.sass */
input[type="radio"], .ie6 input {
  vertical-align: text-bottom;
}

/* line 207, ../../sass/common/_reset.sass */
*::-moz-selection, *::selection {
  background: #fcd700;
  color: white;
  text-shadow: none;
}

/* line 2, ../../sass/common/_html5.sass */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 4, ../../sass/common/_html5.sass */
audio[controls], canvas, video {
  display: inline-block;
}

/* line 6, ../../sass/common/_html5.sass */
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 13, ../../sass/common/_html5.sass */
body {
  margin: 0;
  font-size: 13px;
  line-height: 1.231;
  font-family: sans-serif;
  color: #222222;
}

/* line 19, ../../sass/common/_html5.sass */
button, input, select, textarea {
  font-family: sans-serif;
  color: #222222;
}

/* line 23, ../../sass/common/_html5.sass */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 26, ../../sass/common/_html5.sass */
b, strong {
  font-weight: bold;
}

/* line 29, ../../sass/common/_html5.sass */
blockquote {
  margin: 1em 20px;
}

/* line 32, ../../sass/common/_html5.sass */
dfn {
  font-style: italic;
}

/* line 35, ../../sass/common/_html5.sass */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

/* line 43, ../../sass/common/_html5.sass */
ins {
  background: #ffff99;
  color: black;
  text-decoration: none;
}

/* line 48, ../../sass/common/_html5.sass */
mark {
  background: yellow;
  color: black;
  font-style: italic;
  font-weight: bold;
}

/* line 54, ../../sass/common/_html5.sass */
pre, code, kbd, samp {
  font-family: monospace, monospace;
  _font-family: "courier new", monospace;
  font-size: 1em;
}

/* line 59, ../../sass/common/_html5.sass */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 64, ../../sass/common/_html5.sass */
q {
  quotes: none;
}
/* line 66, ../../sass/common/_html5.sass */
q:before, q:after {
  content: "";
  content: none;
}

/* line 70, ../../sass/common/_html5.sass */
small {
  font-size: 85%;
}

/* line 73, ../../sass/common/_html5.sass */
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 79, ../../sass/common/_html5.sass */
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

/* line 86, ../../sass/common/_html5.sass */
sub {
  bottom: -0.25em;
}

/* line 89, ../../sass/common/_html5.sass */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 20px;
}

/* line 93, ../../sass/common/_html5.sass */
dd {
  margin: 0 0 0 20px;
}

/* line 97, ../../sass/common/_html5.sass */
nav ul, nav ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 102, ../../sass/common/_html5.sass */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* line 106, ../../sass/common/_html5.sass */
svg:not(:root) {
  overflow: hidden;
}

/* line 109, ../../sass/common/_html5.sass */
figure, form {
  margin: 0;
}

/* line 112, ../../sass/common/_html5.sass */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 117, ../../sass/common/_html5.sass */
legend {
  border: 0;
  padding: 0;
}

/* line 121, ../../sass/common/_html5.sass */
label {
  cursor: pointer;
}

/* line 124, ../../sass/common/_html5.sass */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

/* line 129, ../../sass/common/_html5.sass */
button, input {
  line-height: normal;
}

/* line 132, ../../sass/common/_html5.sass */
button {
  cursor: pointer;
  -webkit-appearance: button;
}

/* line 138, ../../sass/common/_html5.sass */
input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
/* line 142, ../../sass/common/_html5.sass */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
}
/* line 145, ../../sass/common/_html5.sass */
input[type="search"] {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 150, ../../sass/common/_html5.sass */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 154, ../../sass/common/_html5.sass */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 160, ../../sass/common/_html5.sass */
input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

/* line 163, ../../sass/common/_html5.sass */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 167, ../../sass/common/_html5.sass */
.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}
/* line 175, ../../sass/common/_html5.sass */
.ir br {
  display: none;
}

/* line 178, ../../sass/common/_html5.sass */
.hidden {
  display: none;
  visibility: hidden;
}

/* line 182, ../../sass/common/_html5.sass */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* line 193, ../../sass/common/_html5.sass */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 201, ../../sass/common/_html5.sass */
.invisible {
  visibility: hidden;
}

/* line 204, ../../sass/common/_html5.sass */
.clearfix {
  zoom: 1;
}
/* line 207, ../../sass/common/_html5.sass */
.clearfix:before {
  content: "";
  display: table;
}
/* line 211, ../../sass/common/_html5.sass */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

@media print {
  /* line 220, ../../sass/common/_html5.sass */
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* line 227, ../../sass/common/_html5.sass */
  a {
    color: #444444 !important;
    text-decoration: underline;
  }
  /* line 231, ../../sass/common/_html5.sass */
  a:visited {
    color: #444444 !important;
    text-decoration: underline;
  }
  /* line 235, ../../sass/common/_html5.sass */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 240, ../../sass/common/_html5.sass */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 243, ../../sass/common/_html5.sass */
  .ir a:after {
    content: "";
  }

  /* line 247, ../../sass/common/_html5.sass */
  a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* line 250, ../../sass/common/_html5.sass */
  pre, blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid;
  }

  /* line 254, ../../sass/common/_html5.sass */
  thead {
    display: table-header-group;
  }

  /* line 257, ../../sass/common/_html5.sass */
  tr {
    page-break-inside: avoid;
  }

  /* line 260, ../../sass/common/_html5.sass */
  img {
    page-break-inside: avoid;
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 267, ../../sass/common/_html5.sass */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 271, ../../sass/common/_html5.sass */
  h2, h3 {
    page-break-after: avoid;
  }
}
/* line 1, ../../sass/mobile/_iphone.sass */
body {
  margin: 0;
  font-family: Helvetica;
  background: white;
  color: black;
  overflow: hidden;
  -webkit-text-size-adjust: none;
}
/* line 9, ../../sass/mobile/_iphone.sass */
body > h1 {
  box-sizing: border-box;
  margin: 0;
  padding: 10px;
  line-height: 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0;
  text-overflow: ellipsis;
  color: white;
  background: url(../img/mobile/toolbar.png) #6d84a2 repeat-x;
  border-bottom: 1px solid #2d3642;
}

/* line 23, ../../sass/mobile/_iphone.sass */
.button {
  position: absolute;
  top: 8px;
  right: 6px;
  -webkit-border-image: url(../img/mobile/button.png) 0 5 0 5;
  -webkit-border-radius: 0;
  border-width: 0 5px 0 5px;
  padding: 0;
  height: 28px;
  line-height: 28px;
  font-size: 12px;
  font-weight: bold;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0;
  text-decoration: none;
  background: none;
}

/* line 40, ../../sass/mobile/_iphone.sass */
#homeButton {
  display: none;
  left: 6px;
  right: auto;
  -webkit-border-image: url(../img/mobile/back_button.png) 0 8 0 14;
  border-width: 0 8px 0 14px;
}

/* line 47, ../../sass/mobile/_iphone.sass */
.goButton {
  -webkit-border-image: url(../img/mobile/go_button.png) 0 5 0 5;
  border-width: 0 5px;
}

/* line 53, ../../sass/mobile/_iphone.sass */
body > div, body > form, body > ul {
  display: none;
  position: absolute;
  left: 0;
  top: 41px;
  width: 100%;
  min-height: 418px;
  margin: 0;
  padding: 0;
}
/* line 63, ../../sass/mobile/_iphone.sass */
body *[selected="true"] {
  display: block;
}
/* line 66, ../../sass/mobile/_iphone.sass */
body ul > li {
  margin: 0;
  border-bottom: 1px solid #e0e0e0;
  padding: 0;
  background: url(../img/mobile/arrow.png) no-repeat right center;
  font-size: 20px;
  font-weight: bold;
  list-style: none;
}
/* line 75, ../../sass/mobile/_iphone.sass */
body ul > li > a {
  display: block;
  padding: 8px 32px 8px 8px;
  text-decoration: none;
  color: black;
}

/* line 81, ../../sass/mobile/_iphone.sass */
.panel {
  box-sizing: border-box;
  padding: 10px;
  background: #c8c8c8 url(../img/mobile/pinstripes.png);
}

/* line 86, ../../sass/mobile/_iphone.sass */
.dialog {
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 468px;
  z-index: 2;
  background: rgba(0, 0, 0, 0.8);
  padding: 0;
  text-align: right;
}

/* line 96, ../../sass/mobile/_iphone.sass */
fieldset {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  border: none;
  padding: 10px 6px;
  background: url(../img/mobile/toolbar.png) #7388a5 repeat-x;
}
/* line 104, ../../sass/mobile/_iphone.sass */
fieldset > h1 {
  margin: 0 10px 0 10px;
  padding: 0;
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0;
  text-align: center;
}

/* line 113, ../../sass/mobile/_iphone.sass */
label {
  position: absolute;
  margin: 14px 0 0 6px;
  font-size: 14px;
  color: #bbbbbb;
}

/* line 119, ../../sass/mobile/_iphone.sass */
input {
  box-sizing: border-box;
  width: 100%;
  margin: 6px 0 0 0;
  padding: 6px 6px 6px 44px;
  font-size: 16px;
  font-weight: normal;
}

/* line 3, ../../sass/mobile/_style.sass */
div.panel h1 {
  font: 18px/36px bold;
  margin-bottom: 10px;
  margin-top: 20px;
  color: #ff9933;
  border-bottom: 1px solid #eeeeee;
}
/* line 10, ../../sass/mobile/_style.sass */
div.panel h2 {
  margin: 0;
}

/* line 1, ../../sass/mobile/tab/_announcements.sass */
#announcements {
  background: white;
}
/* line 4, ../../sass/mobile/tab/_announcements.sass */
#announcements div.announcement {
  margin-bottom: 10px;
}
/* line 7, ../../sass/mobile/tab/_announcements.sass */
#announcements div.announcement .content {
  color: #333333;
  padding: 0 10px;
  font: 16px/32px normal;
}

/* line 1, ../../sass/mobile/tab/_location.sass */
#location {
  background: white;
}
/* line 4, ../../sass/mobile/tab/_location.sass */
#location * {
  font: 16px/32px normal;
}
/* line 7, ../../sass/mobile/tab/_location.sass */
#location iframe {
  margin-bottom: 20px;
  border: 1px solid #999999;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0 0 5px 0 #999999;
  -webkit-box-shadow: 0 0 5px 0 #999999;
  -o-box-shadow: 0 0 5px 0 #999999;
  box-shadow: 0 0 5px 0 #999999;
}

/* line 1, ../../sass/mobile/tab/_sessions.sass */
#sessions {
  background: white;
  width: 80%;
  margin: 0 auto;
}
/* line 6, ../../sass/mobile/tab/_sessions.sass */
#sessions table {
  font-size: 15px;
  border: 1px solid black;
  width: 100%;
  table-layout: fixed;
  -moz-box-shadow: inset 0px 0px 10px #cccccc;
  -webkit-box-shadow: inset 0px 0px 10px #cccccc;
  -o-box-shadow: inset 0px 0px 10px #cccccc;
  box-shadow: inset 0px 0px 10px #cccccc;
}
/* line 13, ../../sass/mobile/tab/_sessions.sass */
#sessions table td, #sessions table th {
  border: 1px solid #cccccc;
  padding: 5px;
  text-align: center;
}
/* line 18, ../../sass/mobile/tab/_sessions.sass */
#sessions table th {
  background: #666666;
  color: #eeeeee;
  font-size: 20px;
}
/* line 23, ../../sass/mobile/tab/_sessions.sass */
#sessions table tr.break {
  background: #ff9933;
}
/* line 26, ../../sass/mobile/tab/_sessions.sass */
#sessions table tr.break td {
  color: white;
  text-align: center;
}
/* line 30, ../../sass/mobile/tab/_sessions.sass */
#sessions table th.time {
  width: 80px;
}
/* line 33, ../../sass/mobile/tab/_sessions.sass */
#sessions table td {
  padding: 5px;
}
/* line 36, ../../sass/mobile/tab/_sessions.sass */
#sessions table td.time {
  background: #f2fff5;
  vertical-align: middle !important;
}
/* line 40, ../../sass/mobile/tab/_sessions.sass */
#sessions table td span {
  display: block;
}
/* line 43, ../../sass/mobile/tab/_sessions.sass */
#sessions table td h1.subject {
  margin: 0 !important;
  padding: 5px 0;
  font: 18px/30px bold !important;
  color: #333333 !important;
  border: none !important;
  text-align: left;
}
/* line 51, ../../sass/mobile/tab/_sessions.sass */
#sessions table td h2.talker {
  margin-left: 10px !important;
  font: 16px/30px normal !important;
  color: #666666 !important;
  text-align: left;
  padding: 5px 0;
}
/* line 58, ../../sass/mobile/tab/_sessions.sass */
#sessions table td div.brief {
  font: 14px/25px normal !important;
  color: #999999;
  margin: 10px auto 20px 20px;
  text-align: left;
}
