/* incase an inverted custom gradient isn't specified */
/* line 177, ../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-1.1.2/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class, a.button {
  font-family: "Lucida Grande", Lucida, Arial, sans-serif;
  background: url('/public/img/button_bg.png?1315140545') repeat-x bottom left;
  margin: 0;
  width: auto;
  overflow: visible;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border-style: solid;
  font-weight: bold;
}
/* line 165, ../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-1.1.2/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class::-moz-focus-inner, a.button::-moz-focus-inner {
  border: none;
  padding: 0;
}
/* line 168, ../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-1.1.2/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class:focus, a.button:focus {
  outline: none;
}

/* line 2, ../sass/_html5.sass */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 5, ../sass/_html5.sass */
audio[controls], canvas, video {
  display: inline-block;
}

/* =============================================================================
 * Base
 * ========================================================================== */
/* 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Force vertical scrollbar in non-IE
 * 3. Remove Android and iOS tap highlight color to prevent entire container being highlighted
 *    www.yuiblog.com/blog/2010/10/01/quick-tip-customizing-the-mobile-safari-tap-highlight-color/
 * 4. Prevent iOS text size adjust on device orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
/* line 21, ../sass/_html5.sass */
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 29, ../sass/_html5.sass */
body {
  margin: 0;
  font-size: 13px;
  line-height: 1.231;
  font-family: sans-serif;
  color: #222222;
}

/* line 36, ../sass/_html5.sass */
button, input, select, textarea {
  font-family: sans-serif;
  color: #222222;
}

/* These selection declarations have to be separate
 * No text-shadow: twitter.com/miketaylr/status/12228805301
 * Also: hot pink! */
/*::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
 *::selection { background: #fe57a1; color: #fff; text-shadow: none; } */
/* =============================================================================
 * Links
 * ========================================================================== */
/* line 53, ../sass/_html5.sass */
a {
  color: #0000ee;
}
/* line 55, ../sass/_html5.sass */
a:visited {
  color: #551a8b;
}
/* line 57, ../sass/_html5.sass */
a:focus {
  outline: thin dotted;
}
/* line 59, ../sass/_html5.sass */
a:hover, a:active {
  outline: 0;
}

/* Improve readability when focused and hovered in all browsers: people.opera.com/patrickl/experiments/keyboard/test */
/* =============================================================================
 * Typography
 * ========================================================================== */
/* line 68, ../sass/_html5.sass */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 71, ../sass/_html5.sass */
b, strong {
  font-weight: bold;
}

/* line 74, ../sass/_html5.sass */
blockquote {
  margin: 1em 40px;
}

/* line 77, ../sass/_html5.sass */
dfn {
  font-style: italic;
}

/* line 80, ../sass/_html5.sass */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

/* line 88, ../sass/_html5.sass */
ins {
  background: #ffff99;
  color: black;
  text-decoration: none;
}

/* line 93, ../sass/_html5.sass */
mark {
  background: yellow;
  color: black;
  font-style: italic;
  font-weight: bold;
}

/* Redeclare monospace font family: en.wikipedia.org/wiki/User:Davidgothberg/Test59 */
/* line 101, ../sass/_html5.sass */
pre, code, kbd, samp {
  font-family: monospace, monospace;
  _font-family: "courier new", monospace;
  font-size: 1em;
}

/* Improve readability of pre-formatted text in all browsers */
/* line 108, ../sass/_html5.sass */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 113, ../sass/_html5.sass */
q {
  quotes: none;
}
/* line 115, ../sass/_html5.sass */
q:before, q:after {
  content: "";
  content: none;
}

/* line 119, ../sass/_html5.sass */
small {
  font-size: 85%;
}

/* Position subscript and superscript content without affecting line-height: gist.github.com/413930 */
/* line 124, ../sass/_html5.sass */
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 130, ../sass/_html5.sass */
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

/* line 137, ../sass/_html5.sass */
sub {
  bottom: -0.25em;
}

/* =============================================================================
 * Lists
 * ========================================================================== */
/* line 144, ../sass/_html5.sass */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

/* line 148, ../sass/_html5.sass */
dd {
  margin: 0 0 0 40px;
}

/* line 152, ../sass/_html5.sass */
nav ul, nav ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* =============================================================================
 * Embedded content
 * ========================================================================== */
/* Improve image quality when scaled in IE7
 * code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
/* line 165, ../sass/_html5.sass */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* Correct overflow displayed oddly in IE9 */
/* line 172, ../sass/_html5.sass */
svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
 * Figures
 * ========================================================================== */
/* line 179, ../sass/_html5.sass */
figure, form {
  margin: 0;
}

/* =============================================================================
 * Forms
 * ========================================================================== */
/* line 186, ../sass/_html5.sass */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7 */
/* line 195, ../sass/_html5.sass */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
}

/* Indicate that 'label' will shift focus to the associated form element */
/* line 202, ../sass/_html5.sass */
label {
  cursor: pointer;
}

/* 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers */
/* line 210, ../sass/_html5.sass */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7 */
/* line 220, ../sass/_html5.sass */
button, input {
  line-height: normal;
  *overflow: visible;
}

/* 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS */
/* line 228, ../sass/_html5.sass */
button {
  cursor: pointer;
  -webkit-appearance: button;
}

/* line 233, ../sass/_html5.sass */
input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
/* line 236, ../sass/_html5.sass */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
}
/* line 238, ../sass/_html5.sass */
input[type="search"] {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* Consistent box sizing and appearance */
/* Remove inner padding and border in FF3/4
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
/* line 250, ../sass/_html5.sass */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* Remove default vertical scrollbar in IE6/7/8/9 */
/* line 256, ../sass/_html5.sass */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* Colors for form validity */
/* line 264, ../sass/_html5.sass */
input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

/* =============================================================================
 * Tables
 * ========================================================================== */
/* line 271, ../sass/_html5.sass */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* =============================================================================
 * Primary styles
 * Author:
 * ========================================================================== */
/* =============================================================================
 * Non-semantic helper classes
 * Please define your styles before this section.
 * ========================================================================== */
/* For image replacement */
/* line 287, ../sass/_html5.sass */
.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}
/* line 294, ../sass/_html5.sass */
.ir br {
  display: none;
}

/* Hide for both screenreaders and browsers:
 * css-discuss.incutio.com/wiki/Screenreader_Visibility */
/* line 300, ../sass/_html5.sass */
.hidden {
  display: none;
  visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
 *www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
/* line 307, ../sass/_html5.sass */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* line 317, ../sass/_html5.sass */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
/* Hide visually and from screenreaders, but maintain layout */
/* line 329, ../sass/_html5.sass */
.invisible {
  visibility: hidden;
}

/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */
/* line 334, ../sass/_html5.sass */
.clearfix {
  zoom: 1;
}
/* line 335, ../sass/_html5.sass */
.clearfix:before {
  content: "";
  display: table;
}
/* line 338, ../sass/_html5.sass */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* =============================================================================
 * PLACEHOLDER Media Queries for Responsive Design.
 * These override the primary ('mobile first') styles
 * Modify as content requires.
 * ========================================================================== */
@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */
}
@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */
}
/* =============================================================================
 * Print styles.
 * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
 * ========================================================================== */
@media print {
  /* line 362, ../sass/_html5.sass */
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* Black prints faster: sanbeiji.com/archives/953 */
  /* line 369, ../sass/_html5.sass */
  a {
    color: #444444 !important;
    text-decoration: underline;
  }
  /* line 372, ../sass/_html5.sass */
  a:visited {
    color: #444444 !important;
    text-decoration: underline;
  }
  /* line 375, ../sass/_html5.sass */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 377, ../sass/_html5.sass */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 379, ../sass/_html5.sass */
  .ir a:after {
    content: "";
  }

  /* line 382, ../sass/_html5.sass */
  a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* Don't show links for images, or javascript/internal links */
  /* line 385, ../sass/_html5.sass */
  pre, blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid;
  }

  /* line 388, ../sass/_html5.sass */
  thead {
    display: table-header-group;
  }

  /* css-discuss.incutio.com/wiki/Printing_Tables */
  /* line 391, ../sass/_html5.sass */
  tr {
    page-break-inside: avoid;
  }

  /* line 393, ../sass/_html5.sass */
  img {
    page-break-inside: avoid;
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 399, ../sass/_html5.sass */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 402, ../sass/_html5.sass */
  h2, h3 {
    page-break-after: avoid;
  }
}
/* line 5, ../sass/style.sass */
a.button {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  font-size: 18px;
  line-height: 1.2em;
  padding: 0.3em 1em;
  border-width: 1px;
  background-color: #003468;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3a88d6), color-stop(10%, #1f5a95), color-stop(50%, #0f2c49), color-stop(50%, #0d253d), color-stop(100%, #163e67));
  background-image: -webkit-linear-gradient(#3a88d6, #1f5a95 10%, #0f2c49 50%, #0d253d 50%, #163e67);
  background-image: -moz-linear-gradient(#3a88d6, #1f5a95 10%, #0f2c49 50%, #0d253d 50%, #163e67);
  background-image: -o-linear-gradient(#3a88d6, #1f5a95 10%, #0f2c49 50%, #0d253d 50%, #163e67);
  background-image: -ms-linear-gradient(#3a88d6, #1f5a95 10%, #0f2c49 50%, #0d253d 50%, #163e67);
  background-image: linear-gradient(#3a88d6, #1f5a95 10%, #0f2c49 50%, #0d253d 50%, #163e67);
  border-color: #050e17;
  text-shadow: black 0px 1px 1px;
  -moz-box-shadow: rgba(255, 255, 255, 0.204) 0 0 0.1em 1px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.204) 0 0 0.1em 1px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.204) 0 0 0.1em 1px inset;
  box-shadow: rgba(255, 255, 255, 0.204) 0 0 0.1em 1px inset;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
}
/* line 116, ../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-1.1.2/lib/stylesheets/_fancy-buttons.sass */
a.button, a.button:visited {
  color: white;
}
/* line 31, ../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-1.1.2/lib/stylesheets/_fancy-buttons.sass */
a.button:hover, a.button:focus {
  background-color: #002c59;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2e80d3), color-stop(10%, #1d5389), color-stop(50%, #0d253d), color-stop(50%, #0a1d30), color-stop(100%, #13375a));
  background-image: -webkit-linear-gradient(#2e80d3, #1d5389 10%, #0d253d 50%, #0a1d30 50%, #13375a);
  background-image: -moz-linear-gradient(#2e80d3, #1d5389 10%, #0d253d 50%, #0a1d30 50%, #13375a);
  background-image: -o-linear-gradient(#2e80d3, #1d5389 10%, #0d253d 50%, #0a1d30 50%, #13375a);
  background-image: -ms-linear-gradient(#2e80d3, #1d5389 10%, #0d253d 50%, #0a1d30 50%, #13375a);
  background-image: linear-gradient(#2e80d3, #1d5389 10%, #0d253d 50%, #0a1d30 50%, #13375a);
  border-color: #02060a;
  text-shadow: black 0px 1px 1px;
}
/* line 116, ../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-1.1.2/lib/stylesheets/_fancy-buttons.sass */
a.button:hover, a.button:hover:visited, a.button:focus, a.button:focus:visited {
  color: white;
}
/* line 36, ../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-1.1.2/lib/stylesheets/_fancy-buttons.sass */
a.button:active {
  background-color: #002549;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0d253d), color-stop(30%, #0e2a45), color-stop(50%, #0b2034), color-stop(50%, #081828), color-stop(100%, #14395e));
  background-image: -webkit-linear-gradient(#0d253d, #0e2a45 30%, #0b2034 50%, #081828 50%, #14395e);
  background-image: -moz-linear-gradient(#0d253d, #0e2a45 30%, #0b2034 50%, #081828 50%, #14395e);
  background-image: -o-linear-gradient(#0d253d, #0e2a45 30%, #0b2034 50%, #081828 50%, #14395e);
  background-image: -ms-linear-gradient(#0d253d, #0e2a45 30%, #0b2034 50%, #081828 50%, #14395e);
  background-image: linear-gradient(#0d253d, #0e2a45 30%, #0b2034 50%, #081828 50%, #14395e);
  border-color: black;
  text-shadow: black 0px -1px -1px;
  -moz-box-shadow: #050e17 0 0.08em 0.2em 1px inset;
  -webkit-box-shadow: #050e17 0 0.08em 0.2em 1px inset;
  -o-box-shadow: #050e17 0 0.08em 0.2em 1px inset;
  box-shadow: #050e17 0 0.08em 0.2em 1px inset;
}
/* line 116, ../../../../../../Library/Ruby/Gems/1.8/gems/fancy-buttons-1.1.2/lib/stylesheets/_fancy-buttons.sass */
a.button:active, a.button:active:visited {
  color: white;
}

/* line 8, ../sass/style.sass */
nav a {
  color: white;
  text-decoration: none;
}
/* line 11, ../sass/style.sass */
nav a:hover {
  color: #cccccc;
}
/* line 13, ../sass/style.sass */
nav a:visited {
  color: white;
}
