/* line 1, ../sass/layout.sass */
#container {
  margin: 0 auto;
  width: 900px;
  background: white;
}

/* line 6, ../sass/layout.sass */
header {
  background: #cccccc;
  padding: 20px;
}
/* line 9, ../sass/layout.sass */
header h1 {
  margin: 0;
}

/* line 12, ../sass/layout.sass */
nav {
  float: left;
  width: 900px;
  background: #333333;
}
/* line 16, ../sass/layout.sass */
nav ul {
  margin: 0;
  padding: 0;
}
/* line 19, ../sass/layout.sass */
nav ul li {
  list-style-type: none;
  display: inline;
}
/* line 22, ../sass/layout.sass */
nav li a {
  display: block;
  float: left;
  padding: 5px 10px;
  color: white;
  text-decoration: none;
  border-right: 1px solid white;
}
/* line 29, ../sass/layout.sass */
nav li a:hover {
  background: #338833;
}

/* line 32, ../sass/layout.sass */
#main {
  clear: left;
  float: left;
  width: 560px;
  padding: 20px 0;
  margin: 0 0 0 30px;
  display: inline;
}
/* line 39, ../sass/layout.sass */
#main h2 {
  margin: 0;
}

/* line 42, ../sass/layout.sass */
aside {
  float: right;
  width: 240px;
  padding: 20px 0;
  margin: 0 20px 0 0;
  display: inline;
}
/* line 48, ../sass/layout.sass */
aside h3 {
  margin: 0;
}

/* line 51, ../sass/layout.sass */
footer {
  clear: both;
  background: #cccccc;
  text-align: right;
  padding: 20px;
  height: 1%;
}
