#aside
    float: right
    width: 220px
    min-height: 300px
    margin: 10px 20px 0 0
    display: inline
    color: $asideFontColor
    background: $asideBgColor
    +border-radius(10px)
    +main-shadow(#ccc)

    .section

        h1
            color: $asideHeadFontColor
            padding: 5px
            background: $asideHeadBgColor
            margin: 0
            border-top: 3px solid #f93
            text-align: center
            font-size: 1.2em

        dl
            margin: 10px 0 20px 0

            dt
                color: $asideDlFontColor
                margin: 5px 20px
                border-bottom: 1px solid #eee

            dd
                margin: 5px 20px 15px 30px
