#header
    position: relative
    padding-top: 10px
    overflow: hidden
    background: #fff
    height: 130px
    +main-shadow

    h1
        margin: 0 0 0 10px
        background: url(../img/logo.jpg) no-repeat
        a
            display: block
            width: 237px
            height: 80px
            text-indent: -9999px
            overflow: hidden
            outline: none
    h2
        position: absolute
        top: 55px
        left: 260px

    nav.top
        position: relative
        top: 10px
        background: $highlightBgColor
        box-shadow: inset 0 3px 0 #ccc
        z-index: 9999

        ul
            margin: 0 auto
            width: $fixedWidth
            height: 40px

            li
                display: inline

                &.active>a
                    background: #fff
                    color: #333
                    box-shadow: inset 0 3px 0 $highlightBgColor

                    &:hover
                        color: #333

                a
                    float: left
                    display: block
                    font-size: 1.2em
                    height: 30px
                    line-height: 30px
                    padding: 5px 20px
                    color: $highlightFontColor
                    text-decoration: none

                    &:hover
                        +shadow-font(#eee, #ccc)
