#header
    position: relative
    padding-top: 10px
    overflow: hidden
    background: #fff
    height: 130px

    h1
        margin: 0 0 0 10px
        background: url(../img/logo.jpg) no-repeat
        a
            display: block
            width: 237px
            height: 80px
            text-indent: -9999px
            overflow: hidden
            outline: none
    h2
        position: absolute
        top: 55px
        left: 260px

    nav.top
        position: relative
        top: 10px
        background: #000

        ul
            margin: 0 auto
            width: $fixedWidth
            height: 40px

            li
                display: inline

                a
                    float: left
                    display: block
                    font-size: 1.2em
                    height: 30px
                    line-height: 30px
                    padding: 5px 20px
                    color: #fff
                    text-decoration: none

                    &:hover
                        +shadow-font(#eee, #ccc)
