#announcements

    div.block
        +content-block

        h1
            font: 14px/28px bold
            color: #f93

        .content
            color: #666
            padding: 0 10px
            font: 12px/24px normal