#location
    background: $page-bg-color
    margin: 0 10px
    position: relative

    & *
        font: 16px/32px normal

    iframe
        margin-bottom: 20px
        border: 1px solid $location-map-border-color
