#location
    background: $page-bg-color
    margin: 0 10px
    position: relative

    & *
        font: 16px/32px normal

    iframe
        margin: 20px auto
        width: 100%
        border: 1px solid $location-map-border-color
