#sessions
    background: $page-bg-color
    margin: 0 auto
    position: relative

    ul
        margin: 0
        padding: 0

        li
            min-height: 30px
            padding: 5px
            font: 12px/24px normal
            border-top: 1px solid #999

            &.alt
                background: #eee

            span.startTime, span.endTime
                width: 10%
                color: #666
                margin: 0 5px

            span.subject
                display: block
                font: 16px/32px bold
                color: #f93

            span.talker
                display: block
                margin-left: 20px
                color: #333

            div.brief
                margin-left: 30px
                color: #999

            &.break
                background: #666
                color: #fff
                text-align: center
                margin: 10px auto

                span
                    display: inline
                    color: #fff
