body, html
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box
    position: relative
    weight: 100%
    height: 100%
    margin: 0
    font-family: Arial
    background: #fff
    color: #000
    overflow: hidden
    -webkit-text-size-adjust: none
    text-size-adjust: none
    background: #c8c8c8 url(../img/mobile/pinstripes.png)

#container
    position: relative
    width: 100%
    height: 100%
    overflow: auto

    h1#pageTitle
        -webkit-box-sizing: border-box
        -moz-box-sizing: border-box
        box-sizing: border-box
        width: 100%
        height: 41px
        margin: 0
        padding: 0
        line-height: 41px
        font-size: 20px
        font-weight: bold
        text-align: center
        text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0
        text-overflow: ellipsis
        color: #fff
        background: url(../img/mobile/toolbar.png) #6d84a2 repeat-x
        border-bottom: 1px solid #2d3642

    div.panel
        -webkit-box-sizing: border-box
        -moz-box-sizing: border-box
        box-sizing: border-box
        width: 100%
        min-height: 418px
        margin: 0
        padding: 10px
        padding-bottom: 52px
        display: none

        &.selected
            display: block

            .block
                -webkit-box-sizing: border-box
                -moz-box-sizing: border-box
                box-sizing: border-box
                width: 100%
                margin-bottom: 10px
                padding: 10px
                background: #fff
                border: 1px solid #999
                border-radius: 5px

ul#menu
    position: fixed
    bottom: 0
    left: 0
    width: 100%
    height: 50px
    margin: 0
    padding: 0
    z-index: 9999
    background: #333
    border-top: 2px solid #666

    &>li
        box-sizing: border-box
        float: left
        width: 20%
        margin: 0
        padding: 0

        a
            display: block
            margin: 2px 1px
            line-height: 50px
            text-align: center
            color: #ccc

            &:hover, &.selected
                position: relative
                border-radius: 5px
                color: #fff
                background: #666
